body {
	--sidebar: minmax(16em, 1fr);
	display: grid;
	grid-template-columns: var(--sidebar) 40em var(--sidebar);
	gap: 2em;
}
nav {
	grid-column: 1;
	position: sticky;
	height: max-content;
	top: 0;
	max-height: max-content;
}
nav>* {
}
article {
	grid-column: 2;
}
